h1 {
    color: brown;
}
h2{
    background-color: aquamarine;
}

.header{
    background-color: bisque;
    padding-left: 10px;
    text-align: center;
}

body{
    background-color: cadetblue;
}